@import "./config.css";

html {
    font-size: 16px;
}
body {
    background: #fff;
    font-family: sans-serif;
    color: #000;
}

.ad-App {}
.ad-Layout {
    display: flex;
    flex-direction: column;
}
    .ad-Layout-content {
        flex: 1;
    }
