@import url(./config.css);

html,
body {
    height: 100%;
}

html {
    font-size: var(--ad-FontSize);
}

body {
    position: relative;
    padding: 0;
    margin: 0;
    background: var(--ad-Color-prim);
    font-family: "Open Sans", sans-serif;
}
