.main {
  position: relative;
  height: 100vh;
}

.svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 35rem;

  & svg {
    fill: color(var(--colorPrimary) l(+3%));
  }
}

.brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
  .name {
    padding: 0;
    margin: 0;
    font-family: "Playfair Display", serif;
    font-size: 6.5rem;
    font-weight: 700;
    color: #fff;
  }
  .lead {
    padding: 0;
    margin: 0;
    padding-top: 1.5rem;
    text-transform: uppercase;
    font-family: "Karla", sans-serif;
    font-size: 3.5rem;
    font-weight: 400;
    color: color(var(--colorPrimary) l(+40%));
  }
