@import url(App/config.css);

.ad-Canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle at center, #fff 25%, #ccc);
}

.ad-Layout {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ad-Lead {
  margin-top: .6rem;
  text-align: center;
  font-size: 1.25rem;
  color: #333;
}

.ad-Title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
    .ad-Title-name {
      text-transform: uppercase;
      text-align: center;
      font-size: 2.2rem;
      font-weight: 400;
      line-height: 1;
      color: #000;
    }
    .ad-Title-divider {
      display: none;
    }
    .ad-Title-job {
      margin-top: .25rem;
      text-transform: uppercase;
      text-align: center;
      font-size: 3rem;
      font-weight: 800;
      line-height: 1;
      color: #000;
    }

.ad-Refs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  list-style: none;
}
    .ad-Refs-item + .ad-Refs-item {
      margin-left: 1.5rem;
    }

.ad-Ref {
  display: inline-block;
  position: relative;
  width: 2.6rem;
  height: 2.6rem;
  padding: .65rem;
  transition: color .2s;
  color: #fff;
}
  .ad-Ref::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 2px;
    background: #ccc;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: background .4s;
  }
  .ad-Ref:focus::after,
  .ad-Ref:hover::after {
    background: #000;
  }
  .ad-Ref-icon {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
      .ad-Ref-icon path {
        fill: currentColor;
      }
