@import url(App/config.css);

.ad-Canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.ad-Layout {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad-Title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: default;
}
    .ad-Title-name {
        text-transform: uppercase;
        text-align: center;
        font-size: 3rem;
        font-weight: 300;
        line-height: 1;
        color: #fff;
    }
    .ad-Title-divider {
        display: none;
    }
    .ad-Title-job {
        margin-top: .25rem;
        text-transform: uppercase;
        text-align: center;
        font-size: 4.5rem;
        font-weight: 800;
        line-height: 1;
        color: #fff;
    }
