.homepage {
  background: var(--colorPrimary);
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: 65%;

  & p {
    padding: 1rem 0;
    margin: 0;
    line-height: 1.6;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 2.4rem;
    color: color(#fff a(.6));
  }

  & strong {
    font-weight: 400;
    color: #fff;
  }

  & a {
    position: relative;
    color: color(var(--colorPrimary) l(+35%));

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: currentColor;
      transform: translateY(15px);
      opacity: 0;
      visibility: hidden;
      transition: transform .2s, opacity .2s, visibility .2s;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &::after {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
