.slider {
  z-index: 10;
  height: 100%;
  width: 9rem;
  position: fixed;
  top: 0;
  right: 0;
  padding: 3rem;
}

.container {
  height: 100%;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background: color(var(--colorPrimary) l(+8%));
    animation: grow .5s 1s backwards;
  }
}

.links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.link {
  z-index: 5;
  position: relative;
  padding: 1.5rem 0;
  background: var(--colorPrimary);
  animation: grow .5s 1.5s backwards;

  &:hover,
  &:focus {
    text-decoration: none;

    & .preview {
      &::before,
      &::after {
        transform: translate(100%, -50%);
        opacity: 1;
        visibility: visible;
      }
    }

    & .title,
    & .desc {
      transform: none;
      opacity: 1;
      visibility: visible;
    }
  }

  & .inner { animation: appear .5s backwards; }
  &:nth-child(1) .inner { animation-delay: 2s; }
  &:nth-child(2) .inner { animation-delay: 2.1s; }
  &:nth-child(3) .inner { animation-delay: 2.2s; }
  &:nth-child(4) .inner { animation-delay: 2.3s; }
  &:nth-child(5) .inner { animation-delay: 2.4s; }
  &:nth-child(6) .inner { animation-delay: 2.5s; }
  &:nth-child(7) .inner { animation-delay: 2.6s; }
  &:nth-child(8) .inner { animation-delay: 2.7s; }
  &:nth-child(9) .inner { animation-delay: 2.8s; }
  &:nth-child(10) .inner { animation-delay: 2.9s; }
}

.number {
  z-index: 5;
  position: relative;
  overflow: hidden;
  text-align: center;
  font-family: "Karla", sans-serif;
  font-size: 1.4rem;
  color: #fff;
}

.preview {
  margin-right: 1.75rem;
  position: absolute;
  top: 50%;
  right: 100%;
  width: 15rem;
  pointer-events: none;
  transform: translateY(-50%);
  text-align: right;
  text-transform: lowercase;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(200%, -50%);
    transition: transform .2s;
    border: 8px solid transparent;
  }

  &::before {
    margin-left: 1px;
    transition: transform .2s, opacity .2s, visibility .2s;
    opacity: 0;
    visibility: hidden;
    border-left-color: color(var(--colorPrimary) l(+8%));
  }

  &::after {
    margin-left: -1px;
    border-left-color: var(--colorPrimary);
  }
}

.title {
  transition: transform .2s, opacity .2s, visibility .2s;
  transform: translate(1rem, -1rem);
  opacity: 0;
  visibility: hidden;
  line-height: 1.6;
  font-family: "Karla", sans-serif;
  font-size: 1.25rem;
  color: #fff;
}

.desc {
  transition: transform .2s, opacity .2s, visibility .2s;
  transform: translate(-1rem, 1rem);
  opacity: 0;
  visibility: hidden;
  line-height: 1.4;
  font-family: "Playfair Display", serif;
  font-size: .95rem;
  color: color(var(--colorPrimary) l(+40%));
}

@keyframes grow {
  0% {
    transform: scaleY(0);
  } 100% {
    transform: scaleY(1);
  }
}

@keyframes appear {
  0% {
    transform: translateY(100%);
  } 100% {
    transform: translateY(0);
  }
}
